{% extends 'base.backoffice.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block body %}
    <h1>Tableau de bord</h1>


    <div class="container">

        <div class="row">
            <div class="row">
                <div class="card border-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Mes Nouvelles demandes</div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                    </div>
                </div>

                    <div class="card border-secondary mb-3 ms-3" style="max-width: 20rem;">
                        <div class="card-header">Mes Nouvelles demandes</div>
                        <div class="card-body">
                            <h4 class="card-title"></h4>
                            {#{% if contact.status.value == "todo" %}
    <h3><span style="width: 100%"
              class="shadow text-white badge bg-warning">{{ contact.status.libelle }}</span>
    </h3>
{% else %}
    <h3><span style="width: 100%"
              class="shadow text-white badge bg-success">{{ contact.status.libelle }}</span>
    </h3>

{% endif %}  #}
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                        </div>
                    </div>


            <section>
                <div>
                    <h4> Toutes mes demandes</h4>
                </div>
            </section>
            <div class="row">
                <div class="card col-xl col-md">
                    <div class="card-header">
                        <div class="card-body">
                            <table class="table table-hover table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col"> Prenom</th>
                                    <th scope="col"> Adresse</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Code Postal</th>
                                    <th scope="col">Telephone</th>
                                    <th scope="col"> Date du mariage</th>
                                    <th scope="col"> Supprimer</th>


                                </tr>
                                </thead>

                                <tboby>
                                    {% for contact in contact %}
                                        <tr>
                                            <td>{{ contact.nom }}</td>
                                            <td>{{ contact.prenom }}</td>
                                            <td>{{ contact.adresse }}</td>
                                            <td>{{ contact.email }}</td>
                                            <td>{{ contact.postalCode }}</td>
                                            <td>{{ contact.telephone }}</td>
                                            <td>{{ contact.jourMariage|date("m/d/Y") }}</td>
                                            <td>
                                              <a href="{{ path('admin_suppression',{ "id":contact.id }) }}"
                                                   class="btn btn-sm btn-outline-light"
                                                   onclick="return confirm('Voulez- vous vraiment supprimer ce client ?')">Supprimer</a>

                                            </td>

                                            {% if contact.statut == "todo" %}

                                            <p class="testTop">ok</p>
                                                <button class="btn btn-success"> ca fontion</button>

                                            {% else %}
                                                <button class="btn-outline-dark">gg</button>
                                                <p>pas ok</p>
                                                {% endif %}
                                        </tr>


                                    {% endfor %}
                                </tboby>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>




{% endblock %}

{% block javascripts %}
    <script>


    </script>

{% endblock %}

